<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125143856037-1lo83mk973fvfm85fr4qbok707gqcbv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125143856037-1lo83mk973fvfm85fr4qbok707gqcbv8</string>
	<key>API_KEY</key>
	<string>AIzaSyCQiTNM75oEG_y1zBaivQhbcZ1fFhn9Y5M</string>
	<key>GCM_SENDER_ID</key>
	<string>125143856037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.companyDescription.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>conpany-description</string>
	<key>STORAGE_BUCKET</key>
	<string>conpany-description.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125143856037:ios:11eafd54808318fd4fee4c</string>
</dict>
</plist>